<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product view</title>
</head>

<body>
    <div class="container d-flex pb-3">
        <div class="productImgSection m-1">
            <img class="productImage ms-5" src="assets/Samsung_Galasy_M30s.jpg"><br>
            <button class="ms-5 me-1 mt-2">Add to cart</button>
            <button>Buy Now</button>
        </div>
        <div class="productDetails">
            <div class="productDescription">
                <p class="productName">SAMSUNG Galaxy M30S (Black, 128 GB) (4 GB RAM)</p>
                <p class="fw-bold fs-4 productPrice">Price: ₹16,000</p>
                <p class="productOffers">Available offers
                    <br>
                    Bank Offer5% Unlimited Cashback on Flipkart Axis Bank Credit CardT&C
                    <br>
                    Special PriceGet extra ₹35000 off (price inclusive of cashback/coupon)T&C
                    <br>
                    Extra 10% off on Combo with Mobile - Samsung3T&C
                    <br>
                    Extra 15% off on Combo with Mobile - SamsungT&C
                </p>
            </div>
            <div class="productSpecification p-2">
                <h4>Specifications:</h4>
            </div>
            <div class="productSpecification p-2">
                <p class="fs-5">General</p>
                <table>
                    <tr>
                        <td class="title">Brand</td>
                        <td class="desc">MAK</td>
                    </tr>
                    <tr>
                        <td class="title">Type</td>
                        <td class="desc">Lavelier Wireless Mic</td>
                    </tr>
                    <tr>
                        <td class="title">Wired/Wireless</td>
                        <td class="desc">Wireless</td>
                    </tr>
                    <tr>
                        <td class="title">Color</td>
                        <td class="desc">Black</td>
                    </tr>
                    <tr>
                        <td class="title">Model Name</td>
                        <td class="desc">Wireless Lapel for YouTube, Vlogging, Recording for Android/iPhone/PC</td>
                    </tr>
                </table>
            </div>
            <div class="productSpecification p-2">
                <p class="fs-5">Functions</p>
                <table>
                    <tr>
                        <td class="title">On / Off Switch</td>
                        <td class="desc">Yes</td>
                    </tr>
                    <tr>
                        <td class="title">Infrared Interface</td>
                        <td class="desc">Yes</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>

</html>