<div class="navbar sticky-top align-items-center">
    <h2 class="text-light mt-1">Market Wave<img class="logoImage mb-2" src="assets/wave.png"></h2>
    <div class="input-group searchBar">
        <input type="search" class="form-control">
        <button class="btn searchButton">Search</button>
    </div>
    <button class="fs-4" (click)="goToView()"><img class="profileImage mb-1 me-1" src="assets/profile.png">Profile</button>
    <button class="fs-4"><img class="cartImage mb-1 me-1" src="assets/cart.png">Cart</button>
    <button class="fs-4 mb-1" (click)="goToLogin()"><img class="logoutImage mb-1 me-2" src="assets/logout.png">Logout</button>
</div>
